{% extends "master.html" %}
{% load static %}
{% block ForgotPassword %}

<section class="register-block">
    <div class="registercontainer">
<div class="row">
    <div class="col-md-12 register-sec">
        <h2 class="text-center">¿Olvidaste tu contraseña?</h2>
        <form method="POST" class="register-form">

            
<div class="col-6">
            {% csrf_token %}
            {{form.as_p}}
</div>

<div class="form-check col-md-6">
<button type="submit" class="btn btn-register float-right">Enviar correo</button>
</div>


</form>

{% endblock %}